/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: azure;
  height:100%;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.centerElement {
  height: 400px;
  overflow: hidden;

}
.infocard{
  height : 125px;
}

.neighborhoodCard {
  height :75px;
  
}

.demoCard {
  height :100px;
  
}

.divText{
  font-size: 10px;
}


.tooltip {
  position: absolute;
  width: 90px;
  height: 70px;
  padding: 10px;
  font: 12px sans-serif;
  text-align: center;
  color: white;
  background: rgb(0, 247, 255);
  border: 0;
  border-radius: 10px;
}


.chartElement {
  height: 400px;
  width: 600px;
  overflow: hidden;

}

.conentRow {
  width :100%;
}




.bar1 { fill: aqua; }
.bar2 { fill: deepskyblue; }
.bar3 { fill: steelblue; }
.bar:hover {fill: orange; }
.axis--x path { display: none; }
.line {
    fill: none;
    stroke: royalblue;
    stroke-width: 3;
}
.dot {
    fill: royalblue;
    stroke: royalblue;
}

.table{
  font-size :12px;
}

.container-fluid {
  min-height: 100%;
}

.bed-text {
  fill: gray 
}

.occu-text {
  fill: brown;
}

.income-text {
  fill: green;
}


.title-text {
  fill: navy;
  font-weight: bold;
}