<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="#" />
  <title>Heatmap | Airbnb Analysis</title>

  <!-- apply Leaflet CSS styling -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- apply custom CSS styling -->
  <link rel="stylesheet" type="text/css" href="../static/css/style-heat.css">
</head>

<body>

  <!-- The div that displays the airbnb ratings map -->
  <div id="map"></div>

  <!-- apply Leaflet javaScript -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- apply D3 javaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- apply leaflet heatmap JS -->
  <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

  <!-- apply configuration API key for connecting to Mapbox API -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- apply main app javaScript -->
  <script type="text/javascript" src="../static/js/app-heatmap.js"></script>
</body>

</html>